<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <aside class="sidebar">
        <div class="sidebar-content">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          
          {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Profile Picture" class="profile-picture" />
          {% endif %}

          <p class="bio">{{ site.description | default: site.github.project_tagline }}</p>

          <nav class="main-nav">
            <a href="{{ '/' | relative_url }}"><i class="fas fa-home"></i> Home</a>
            <a href="{{ '/publications' | relative_url }}"><i class="fas fa-book"></i> Publications</a>
            <a href="{{ '/projects' | relative_url }}"><i class="fas fa-project-diagram"></i> Projects</a>
            <a href="{{ '/blog' | relative_url }}"><i class="fas fa-pen-nib"></i> Blog</a>
          </nav>

          <div class="social-links">
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fab fa-github"></i></a>
            {% endif %}
            {% if site.linkedin_username %}
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fab fa-linkedin"></i></a>
            {% endif %}
            {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fab fa-twitter"></i></a>
            {% endif %}
          </div>
        </div>

       
      </aside>
      
      <main class="content">
        {{ content }}
      </main>
    </div>
    <script src="{{ '/assets/js/cursor.js' | relative_url }}"></script>
  </body>
</html>